.tilemap{
	-fx-background-image :url('tilemapTest.png');
	-fx-background-position : center;
	-fx-background-repeat : no-repeat;
	
}
.boss{
	-fx-background-repeat : no-repeat;
	-fx-background-image : url('tete.jpg');
	
}